@font-face {
    src : url("../fonts/Apple.ttf");
    font-family : "apple";
 }
* { font-family: "apple" !important; }


.u-section-1 .u-sheet-1 {
  min-height: 243px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 39.6px;
  width: 700px;
  margin: 88px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -6px;
    margin-right: -6px;
  }
}.u-section-2 {
  min-height: 1122px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 90px auto 0;
}

.u-section-2 .u-image-1 {
  height: 526px;
  margin-top: 39px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-2 {
  height: 428px;
  margin-bottom: 0;
  margin-top: 0;
  animation-duration: 1000ms;
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 706px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -98px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: -72px;
    margin-top: -248px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1377px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 90px auto 0;
}

.u-section-3 .u-image-1 {
  height: 642px;
  margin-top: 39px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-2 {
  height: 345px;
  margin-bottom: 60px;
  margin-top: 111px;
  animation-duration: 1000ms;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -16px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 203px;
    width: 360px;
    margin-top: 41px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-3 .u-image-2 {
    height: 103px;
    margin-bottom: 29px;
    margin-top: 41px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 270px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 36px -28px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-4 .u-text-1 {
  margin: 0 56px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 28px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 -51px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 26px -79px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-4 .u-text-5 {
  margin: 6px 63px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 26px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }
}