@font-face {
    src : url("../fonts/Apple.ttf");
    font-family : "apple";
 }

.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/fd051c485168414b44853ea0db1f34b029b5fb7d1f91af38da55d7dd33d845105ba70cacc619acfd5de32acc39efd3618586df5bb93535808ec0c7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 209px auto 0;
}

.u-section-4-1 .u-text-2 {
  animation-duration: 1000ms;
  background-image: none;
  width: 760px;
  margin: 80px auto 0;
}

.u-section-4-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 36px auto 0;
}

.u-section-4-1 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4-1 .u-layout-cell-2 {
  min-height: 69px;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -24px auto 60px;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 720px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4-1 .u-text-1 {
    width: 720px;
  }

  .u-section-4-1 .u-text-2 {
    width: 720px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-4-1 .u-text-2 {
    width: 540px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 177px;
  }

  .u-section-4-1 .u-text-2 {
    width: 340px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-top: -181px;
  }
}.u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/pexels-photo-1769395.jpeg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 208px auto 0;
}

.u-section-4-2 .u-text-2 {
  width: 890px;
  margin: 81px auto 0;
}

.u-section-4-2 .u-layout-wrap-1 {
  width: 562px;
  margin: 36px auto 0;
}

.u-section-4-2 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-4-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4-2 .u-layout-cell-2 {
  min-height: 69px;
}

.u-section-4-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -23px auto 60px;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 49px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-text-1 {
    width: 720px;
  }

  .u-section-4-2 .u-text-2 {
    width: 720px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 69px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4-2 .u-text-1 {
    width: auto;
    margin-top: 252px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-4-2 .u-text-2 {
    width: auto;
    margin-top: 91px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -18px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-4-2 .u-btn-1 {
    margin-top: -157px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 175px;
  }

  .u-section-4-2 .u-text-2 {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 63px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 84px;
  }

  .u-section-4-2 .u-btn-1 {
    margin-top: -175px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/07709a1625e89dc1cc82bae7c6021eeb51d3d98b1bc87e8a3b72097954315920d9f131f27457c90f11f0f3114f93ee4cd105dd4b93619da5e83917_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 334px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 826px;
  margin: 184px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 313px;
  }

  .u-section-1 .u-text-2 {
    width: 742px;
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 327px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 166px;
    margin-left: -3px;
    margin-right: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 317px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 105px;
    margin-left: -38px;
    margin-right: -38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 227px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 116px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 938px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  font-family: apple;
  margin: 147px 141px 0 29px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 81px 31px -191px 92px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 303px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 559px;
  height: 319px;
  animation-duration: 1000ms;
  margin: 73px -18px -89px auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 495px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-2 {
  width: 558px;
  height: 321px;
  animation-duration: 1000ms;
  margin: 92px -17px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 51px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 250px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 269px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 71px;
    padding-left: 82px;
  }

  .u-section-2 .u-image-2 {
    width: 470px;
    height: 270px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 88px;
    margin-bottom: -110px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 333px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -123px;
    margin-right: 114px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 132px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -113px;
    margin-right: 114px;
    margin-bottom: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 70px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 99px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 60px;
    margin-bottom: -23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 157px;
  }

  .u-section-2 .u-image-1 {
    height: 195px;
    margin-top: -102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 62px;
  }

  .u-section-2 .u-image-2 {
    height: 195px;
    margin-top: -21px;
    margin-bottom: -112px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 938px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: apple;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 100px 0 0 501px;
}

.u-section-3 .u-image-1 {
  height: 432px;
  object-position: 50% 100%;
  width: 1140px;
  animation-duration: 1000ms;
  margin: 87px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 301px;
  }

  .u-section-3 .u-image-1 {
    height: 356px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-3 .u-image-1 {
    height: 273px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 205px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    height: 129px;
    width: 340px;
    margin-top: 48px;
  }
}.u-block-5f9f-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-5f9f-3 {
  position: absolute;
  left: 0;
}

.u-block-5f9f-4 {
  position: absolute;
  right: 0;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 270px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 36px -28px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-5 .u-text-1 {
  margin: 0 56px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 26px 28px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-text-3 {
  margin: 0 -51px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 26px -79px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-5 .u-text-5 {
  margin: 6px 63px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 26px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 162px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }
}