.u-section-1 .u-sheet-1 {
  min-height: 243px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 39.6px;
  width: 700px;
  margin: 88px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -6px;
    margin-right: -6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 90px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 1246px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 488px;
  height: 533px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 488px;
  height: 533px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 488px;
  height: 533px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 488px;
  height: 533px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 136px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1027px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1660px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 371px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 371px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 371px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 371px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  height: 642px;
  margin-top: 39px;
  margin-bottom: 60px;
  animation-duration: 1000ms;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -16px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 203px;
    width: 360px;
    margin-left: -10px;
    margin-right: -10px;
  }
}.u-section-4 {
  min-height: 810px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  animation-duration: 1000ms;
  margin: 96px 300px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 638px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 18px 0 20px;
}

.u-section-4 .u-image-1 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 18px 0 20px;
}

.u-section-4 .u-image-2 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 18px 0 20px;
}

.u-section-4 .u-image-3 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 700px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 526px;
  }

  .u-section-4 .u-image-1 {
    height: 425px;
  }

  .u-section-4 .u-image-2 {
    height: 425px;
  }

  .u-section-4 .u-image-3 {
    height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1209px;
  }

  .u-section-4 .u-image-1 {
    height: 488px;
  }

  .u-section-4 .u-image-2 {
    height: 488px;
  }

  .u-section-4 .u-image-3 {
    height: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 732px;
  }

  .u-section-4 .u-image-2 {
    height: 732px;
  }

  .u-section-4 .u-image-3 {
    height: 732px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1687px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 33px;
  }

  .u-section-4 .u-image-1 {
    height: 461px;
  }

  .u-section-4 .u-image-2 {
    height: 461px;
  }

  .u-section-4 .u-image-3 {
    height: 461px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 271px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 36px -28px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-5 .u-text-1 {
  margin: 0 56px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 26px 28px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-text-3 {
  margin: 0 -51px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 26px -79px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-5 .u-text-5 {
  margin: 6px 63px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 26px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }
}