.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 876px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 90px auto 0;
}

.u-section-2 .u-image-1 {
  height: 500px;
  margin-top: 67px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: 0 797px 0 23px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: -75px 410px 0;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: -100px 23px 0 797px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 157px;
  }

  .u-section-2 .u-image-1 {
    height: 413px;
    margin-top: 87px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 636px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -87px;
    margin-right: 296px;
    margin-left: 324px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: -112px 17px 60px 664px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 416px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 416px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin: 20px 416px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 236px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 236px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 82px;
  }

  .u-section-2 .u-image-1 {
    height: 164px;
    width: 376px;
    margin-top: 46px;
    margin-left: -18px;
    margin-right: -18px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 39px;
    margin-right: -9px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 31px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 965px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 90px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 80px auto 0;
}

.u-section-3 .u-image-1 {
  width: 712px;
  height: 538px;
  animation-duration: 1000ms;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 98px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 82px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: 260px;
    margin-top: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 257px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 270px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 36px -28px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-4 .u-text-1 {
  margin: 0 56px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 28px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 -51px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 26px -79px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-4 .u-text-5 {
  margin: 6px 63px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 26px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }
}