.u-section-1 .u-sheet-1 {
  min-height: 243px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 39.6px;
  width: 700px;
  margin: 88px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 88px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 39.6px;
  width: 700px;
  animation-duration: 1000ms;
  margin: 84px auto 0;
}

.u-section-2 .u-image-1 {
  width: 1241px;
  height: 490px;
  animation-duration: 1000ms;
  margin: 0 -50px 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 371px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.2;
    width: auto;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 134px;
    margin-top: 39px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 686px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 39.6px;
  width: 700px;
  animation-duration: 1000ms;
  margin: 100px auto 0;
}

.u-section-3 .u-image-1 {
  height: 444px;
  width: 1166px;
  animation-duration: 1000ms;
  margin: 19px -13px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-image-1 {
    height: 358px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-image-1 {
    height: 274px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    height: 206px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.2;
    width: auto;
    margin-top: 74px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-3 .u-image-1 {
    height: 130px;
    margin-bottom: 60px;
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  width: 700px;
  animation-duration: 1000ms;
  margin: 108px auto 0;
}

.u-section-4 .u-image-1 {
  width: 569px;
  height: 884px;
  animation-duration: 1000ms;
  margin: 69px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 574px;
  height: 980px;
  animation-duration: 1000ms;
  margin: -916px 0 27px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 885px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -922px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 840px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 921px;
    margin-top: -877px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 529px;
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 580px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 648px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  animation-duration: 1000ms;
  width: 700px;
  margin: 55px auto 0;
}

.u-section-5 .u-image-1 {
  height: 346px;
  margin-top: 70px;
  margin-bottom: 60px;
  animation-duration: 1000ms;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 270px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 36px -28px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-6 .u-text-1 {
  margin: 0 56px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 26px 28px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-6 .u-text-3 {
  margin: 0 -51px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 26px -79px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 199px;
}

.u-section-6 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-6 .u-text-5 {
  margin: 6px 63px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 26px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 169px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 165px;
  }
}